/buoi2/nbproject/private/
/buoi2/CodeBuoi2/nbproject/private/
/buoi2/CodeBuoi2/build/
/buoi3/CodeBuoi3/nbproject/private/
/buoi3/CodeBuoi3/build/
/buoi3/CodeBuoi4/nbproject/private/
/buoi3/CodeBuoi4/build/
/buoi4/CodeBuoi4/build/
/buoi4/CodeBuoi4/nbproject/private/
/buoi5/CodeBuoi5/nbproject/private/
/buoi5/BaiThucHanhCoBan/nbproject/private/
/buoi5/BaiThucHanhCoBan/build/
/buoi5/BaiThucHanhNangCao/nbproject/private/
/buoi5/BaiThucHanhNangCao/build/
/buoi5/BaiThucHanhCoBan_BTH2/nbproject/private/
/buoi5/BaiThucHanhCoBan_BTH3/nbproject/private/
/buoi5/BaiThucHanhCoBan_BTH3/build/
/buoi5/BaiThucHanhNangCao_BTH3/nbproject/private/
/buoi5/BaiThucHanhNangCao/dist/
/buoi5/BaiThucHanhCoBan_BTH2/build/
/buoi6/Demo/nbproject/private/
/buoi6/CodeBuoi6/nbproject/private/
/buoi6/CodeBuoi6/build/
/buoi6/De2/nbproject/private/
/dethi/De2/nbproject/private/
/dethi/De2/build/
/dethi/JavaApplication28/nbproject/private/
/dethi/JavaApplication28/build/
